.App {
  text-align: center;
}

.Header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-right: 30%;
  margin-left: 30%;
  padding: 15px;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  margin: 12px;
  width: 200px;
  height:50px;
  background-color: seashell;
  font-size: 14px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.Button:hover {
  background-color: burlywood;
}

.Eatery-card {
  display: flex;
  gap: 3px;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 4% 30%;
}

.search {
  padding: 2%;
  width: 80%;
  font-size: medium;
}